<section (sauvegarderFrigo)="enregistrerFrigo()">
    <div id="frigo-header">
        <div class="header-titles">
            <h2>Mon Frigo</h2>
            <h3>Liste des ingrédients dans mon frigo</h3>
        </div>
    </div>

  <form [formGroup]="frigoForm" (ngSubmit)="enregistrerFrigo()">
  <div class="frigo-form">
        <ng-container formArrayName="ingredients">
            <ng-container *ngFor="let ingredientForm of ingredientsFormArrayControls; let i = index">
                <div class="ingredient-form-field" [formGroup]="ingredientForm">
                    <mat-form-field>
                        <mat-label>Quantité (ex: 10g)</mat-label>
                        <input matInput formControlName="quantite" (change)="changementFrigo()" type="text">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Ingredient</mat-label>
                        <mat-select formControlName="id" (selectionChange)="changementFrigo()">
                            @for(ing of ingredients; track ing.id){
                            <mat-option [value]="ing.id">
                                <div class="ingredient-choix">
                                    <img class="icon-ingred" [src]="ing.url_photo">
                                    <p>{{ing.nom}}</p>
                                </div>
                            </mat-option>

                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Date d'ajout</mat-label>
                        <input matInput formControlName="date_ajout" type="datetime-local" (change)="changementFrigo()">
                    </mat-form-field>
                    <mat-icon class="delete-btn" (click)="deleteIngredient(i)">
                        delete_forever
                    </mat-icon>
                </div>
            </ng-container>
        </ng-container>
  </div>
      <div id="frigo-footer">
        <button id="add-ingredient" type="button" mat-mini-fab (click)="addIngredient()">
            <mat-icon class="add-ingredient-btn">add</mat-icon>
        </button>
        <button id='save' class="mt-2.5" mat-flat-button type="submit" >Enregistrer mon frigo</button>
    </div>
    </form>


</section>
