:root {
    --white: #F4F4F4;
    --green-light: #18A362;
    --green: #386641;
    --green-dark: #1C5A41;
    --black-dark: #1B1519;
}

body {
    background-color: var();
    color: var(--green-dark);
    font-family: Arial, sans-serif;
}

thead {
  background-color: var(--green);
}

.box {
  background: #ffffff;
}

main {
  background: ghostwhite;
}
