<h2>Mes Paniers</h2>

<div class="liste-paniers">
    <div class="panier" *ngFor="let panier of paniers">
        <h3 class="text-lg font-bold">{{ panier.nom }}</h3>
        <p>{{ panier.description }}</p>
        <div class="liste-items">
            <ul>
                <li *ngFor="let item of panier.items">
                    <span class="item-quantity">{{ item.quantite }}</span>
                    <p class="item-name">{{ item.nom }}</p>
                </li>
            </ul>
        </div>

        <div class="clear">
            <mat-icon (click)="supprimerPanier(panier.id)">delete_sweep</mat-icon>
        </div>
    </div>
</div>