<div class="liste-paniers" *ngIf="paniers.length > 0; else emptyState">
    <div class="panier" *ngFor="let panier of paniers">
        <div class="header-panier">
            <h3>{{ panier.nom }}</h3>
            <button class="btn-supprimer" (click)="openDeletePopup(panier.id)"><mat-icon>delete_forever</mat-icon></button>
        </div>

        <div class="infos">
            <ul>
                <li>Panier de <span>{{ panier.producteur }}</span></li>

            </ul>
        </div>

        <div class="liste-items">
            <ul>
                <li *ngFor="let item of panier.items">
                    <span *ngIf="item.quantite" class="item-quantity">{{ item.quantite }}x</span>
                    <span *ngIf="item.poids" class="item-quantity">{{ item.poids }}kg</span>
                    <p class="item-name">{{ item.nom }}</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- Popup de confirmation de suppression -->
<div class="popup-overlay" *ngIf="showDeletePopup">
    <div class="popup">
        <h3>Confirmation</h3>
        <p>Êtes-vous sûr de vouloir supprimer ce panier ?</p>
        <div class="popup-buttons">
            <button class="btn confirm-btn" (click)="deletePanier()">Oui, supprimer</button>
            <button class="btn cancel-btn" (click)="closeDeletePopup()">Annuler</button>
        </div>
    </div>
</div>

<!-- Message si aucun panier disponible -->
<ng-template #emptyState>
    <p class="empty-message">Aucun panier disponible.</p>
</ng-template>
