@use '@angular/material' as mat;

[data-theme="dark"] {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$yellow-palette,
    ),
  ));
}


[data-theme="light"] {
  @include mat.theme((
    color: (
      primary: mat.$chartreuse-palette,

    ),
  ));
}
