<h1 mat-dialog-title>Dialog Example</h1>

<div mat-dialog-content>
    <div *ngFor="let user of this.users">
        <p><strong>======User=======</strong></p>
        <p><strong>Name:</strong> {{ user?.name }}</p>
        <p><strong>Username:</strong> {{ user?.username }}</p>
        <p><strong>Email:</strong> {{ user?.email }}</p>
        <p><strong>Address:</strong> {{ user?.address?.city }}, {{ user?.address?.zipcode }}</p>
        <p><strong>=================</strong></p>
        <br>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button
            (click)="closeDialog()">Close</button>
</div>