.signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-button:not(:disabled) {
    background-color: var(--green);
    color: white;
    border: 2px solid var(--green);
}

.signup-button:not(:disabled):hover {
    background-color: white;
    color: var(--green);
}
