<div class="signup-container">
    <form class="signup-form">
        <mat-form-field class="signup-field">
            <mat-label>Nom complet</mat-label>
            <input matInput
                   type="text">
        </mat-form-field>

        <mat-form-field class="signup-field">
            <mat-label>Email</mat-label>
            <input matInput
                   type="email">
        </mat-form-field>

        <mat-form-field class="signup-field">
            <mat-label>Mot de passe</mat-label>
            <input matInput
                   type="password">
        </mat-form-field>

        <mat-form-field class="signup-field">
            <mat-label>Confirm mot de passe</mat-label>
            <input matInput
                   type="password">
        </mat-form-field>

        <button mat-flat-button
                color="primary"
                class="signup-button">Créer un compte</button>
        <mat-slider class="example-margin"
                    [disabled]="false"
                    [max]="100"
                    [min]="0"
                    [step]="1"
                    [discrete]="false"
                    [showTickMarks]="false">
            <input matSliderThumb
                   #slider>
        </mat-slider>
    </form>
</div>