<div class="signup-container">
    <form class="signup-form"
          [formGroup]="inscripForm"
          (ngSubmit)="onSubmit()">
        <mat-form-field class="signup-field">
            <mat-label>Nom</mat-label>
            <input matInput
                   type="text"
                   formControlName="nom_utilisateur">
        </mat-form-field>

        <mat-form-field class="signup-field">
            <mat-label>Mot de passe</mat-label>
            <input matInput
                   type="password"
                   formControlName="mot_de_passe">
        </mat-form-field>

        <mat-form-field class="signup-field">
            <mat-label>Confirmer mot de passe</mat-label>
            <input matInput
                   type="password"
                   formControlName="mot_de_passe_confirm">
        </mat-form-field>

        <button mat-flat-button
                color="primary"
                class="signup-button"
                [disabled]="inscripForm.invalid">Créer un compte</button>
    </form>
</div>