<div class="text-center mt-4" fxLayout="row"
     fxLayoutGap="16px"
     fxLayoutAlign="start center">
  <mat-form-field>
    <mat-label>Nom recette</mat-label>
    <input matInput
           placeholder="Lasagnes"
           value=""
           (input)="searchByName($event)">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Choisir un  Ingrédient</mat-label>
    <mat-select [(value)]="selectedVegetableIds" (selectionChange)="loadRecettes()" multiple>
      <mat-option *ngFor="let vegetable of vegetables" [value]="vegetable.id">
        {{ vegetable.nom }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Bannir un Ingrédient</mat-label>
    <mat-select [(value)]="bannedVegetableIds" (selectionChange)="loadRecettes()" multiple>
      <mat-option *ngFor="let vegetable of bannedvegetables" [value]="vegetable.id">
        {{ vegetable.nom }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Début Saison</mat-label>
    <mat-select [(value)]="startSaisonId" (selectionChange)="loadRecettes()">
      <mat-option *ngFor="let saison of saisons" [value]="saison.id">
        {{ saison.nom }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fin Saison</mat-label>
    <mat-select [(value)]="endSaisonId" (selectionChange)="loadRecettes()">
      <mat-option *ngFor="let saison of saisons" [value]="saison.id">
        {{ saison.nom }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="selectIngredients" *ngIf="selectedVegetableIds.length">
    <div class="flex gap-3 items-center">
      <p>Ingrédients Choisis</p>
      <div class="ingre" *ngFor="let vegetable of getSelectedVegetables()">
        <img [src]="vegetable.url_photo" alt="{{ vegetable.nom }}" width="100">
        <p>{{ vegetable.nom }}</p>
      </div>
      </div>
  </div>

  <div class="selectIngredients" *ngIf="bannedVegetableIds.length">
    <div class="flex gap-3 items-center">
      <p>Ingrédients Exclus</p>
      <div class="ingre" *ngFor="let vegetable of getBannedVegetables()">
        <img [src]="vegetable.url_photo" alt="{{ vegetable.nom }}" width="100">
        <p>{{ vegetable.nom }}</p>
      </div>
    </div>
  </div>
</div>

<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="IMAGE">
    <mat-header-cell *matHeaderCellDef> Photo </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <img src="{{element.url_photo}}"
           style="width: 100px;">
    </mat-cell>
  </ng-container>


  <ng-container matColumnDef="NOM">
    <mat-header-cell *matHeaderCellDef> Recette </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="DESCR">
    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="CONFIRM">
    <mat-header-cell *matHeaderCellDef> Visiter </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a [routerLink]="['/Recette', element.id]"><button mat-flat-button>Visiter</button></a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<div class="pages">
  <button (click)="setPage(-1)"
          mat-mini-fab
          aria-label="Example icon button with a menu icon">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>
  <span>
    Page: {{ currentPage }}
  </span>
  <button (click)="setPage(1)"
          mat-mini-fab
          aria-label="Example icon button with a menu icon">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
</div>
