.selectandbutton {
  display: flex;
  flex-direction: column;
}

#filtre-list {
  display: flex;
  flex-direction: row;

  >span {
    margin: 0.5em;
  }
}

#affichageFiltres {
  display: flex;
  flex-direction: column;

  >div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
  }
}

.pages {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  align-items: center;
  padding: 12px;
}

.selectIngredients {
  padding: 12px;
  text-align: center;
}

.selectIngredients .ingre img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.selectIngredients .ingre p {
  font-size: 12px;
}
