<div class="account-container">
    <section id="info">
        <h2 class="section-title">Informations du compte</h2>
        <div class="account-info">
            <div>
                <p><strong>Nom :</strong> {{ user.nom }}</p>
            </div>
        </div>

        <h2 class="section-title">Mes Paniers</h2>
        <a [href]="isClient ? '/Panier/user' : '/panier/liste'" class="link">Voir mes paniers</a>
    </section>

    <div *ngIf="isLoading" class="loading-container">
        <p>Chargement des préférences...</p>
    </div>

    <section id="preference" *ngIf="!isLoading">
        <div class="preferences-container">
            <div class="preferences-column">
                <h2 class="section-title">Allergies</h2>
                <form>
                    <label *ngFor="let allergie of allergies" class="checkbox-group">
                        <input (change)="changeAllergie(allergie)" type="checkbox" [(ngModel)]="allergie.check" name="{{ allergie.label }}" />
                        <span>{{ allergie.label }}</span>
                    </label>
                </form>
            </div>

            <div class="preferences-column">
                <h2 class="section-title">Ustensiles exclus</h2>
                <form class="list-pref">
                    <label *ngFor="let ustensile of ustensiles" class="checkbox-group">
                        <input type="checkbox" [(ngModel)]="ustensile.checked" name="{{ ustensile.nom }}" />
                        <span>{{ ustensile.nom }}</span>
                    </label>
                </form>
            </div>
        </div>
      <div class="preferences-container">
        <div class="preferences-column">
          <h2 class="section-title">Ingrédients Détéstés</h2>
          <form class="list-pref">
            <label *ngFor="let ingre of ingredients" class="checkbox-group">
              <input (change)="changeIngredient(ingre)" type="checkbox" [(ngModel)]="ingre.check" name="{{ ingre.nom }}" />
              <span>{{ ingre.nom }}</span>
              <img src="{{ ingre.url_photo }}" width="40" height="40" style="border-radius: 50%">
            </label>
          </form>
        </div>
      </div>
    </section>

    <div *ngIf="showLogoutPopup" class="popup-overlay">
        <div class="popup">
            <h3> Confirmation</h3>
            <p>Êtes-vous sûr de vouloir vous déconnecter ?</p>
            <div class="popup-buttons">
                <button class="confirm" (click)="logout()">Oui, me déconnecter</button>
                <button class="cancel" (click)="closeLogoutPopup()">Annuler</button>
            </div>
        </div>
    </div>

    <!-- Bouton de déconnexion -->
    <button id="Deconnexion" class="btn logout-btn" (click)="openLogoutPopup()">
    Déconnexion
</button>
</div>
