<section class="auth-wrapper">
    <div *ngIf="!isAuthenticated()" class="auth-container p-8 shadow-lg rounded-lg">
        <div class="auth-tabs">
            <button class="tab-button" [class.active]="activeTab === 'login'" (click)="switchTab('login')">Connexion</button>
            <button class="tab-button" [class.active]="activeTab === 'signup'" (click)="switchTab('signup')">Inscription</button>

        </div>
        <div class="auth-content">
            <app-connexion *ngIf="activeTab === 'login'"></app-connexion>
            <app-inscription *ngIf="activeTab === 'signup'"></app-inscription>
        </div>
    </div>

    <div *ngIf="isAuthenticated()">
        Vous-etes auth
    </div>
</section>