<nav class="navbar">
    <span>
          <ul class="nav-list">
            <li class="nav-item">
                <a href="/Home">
                    <img src="https://amap-idf.org/images/env/logo.svg">
                </a>
            </li>
            <li class="nav-item">
              <mat-icon>home</mat-icon>
              <a href="/Home">Acceuil</a>
            </li>
            <li class="nav-item">
              <mat-icon> fastfood</mat-icon>
              <a href="/Recette">Recettes</a>
            </li>
            <li class="nav-item" *ngIf="(authStore.token$ | async);">
                <mat-icon>keyboard_arrow_down</mat-icon>
                Autres
              <ul class="dropdown">
                <li class="nav-item">
                <mat-icon>shopping_cart</mat-icon>
                <a href="/Panier">Mes paniers</a>
              </li>
              <li class="nav-item">
                <mat-icon>kitchen</mat-icon>
                <a href="/Frigo">Frigo</a>
              </li>
              <li class="nav-item">
                <mat-icon>favorite</mat-icon>
                <a href="/Favoris">Favoris</a>
              </li>
              <li class="nav-item"  *ngIf="(authStore.token$ | async);">
                <mat-icon>add_shopping_cart</mat-icon>
                <a href="/Nouveau-panier">Nouveau panier</a>
              </li>
              </ul>
            </li>

          </ul>
        </span>
    <span>
          <ul class="nav-list">
            <li *ngIf="!(authStore.token$ | async);"
                class="nav-item">
              <mat-icon>account_circle</mat-icon>
              <a href="/Connexion">Connexion</a>
            </li>
            <li *ngIf="(authStore.token$ | async);"
                class="nav-item"><a href="/Deconnexion">Deconnexion</a></li>
            <li class="nav-item"><mat-slide-toggle (change)="switchTheme($event)"
                                  class="example-margin"></mat-slide-toggle></li>

          </ul>
          </span>
</nav>